<div class="general__container">
  <div class="card">
    <p class="page__name">Editando</p>
    <form [formGroup]="newForm" (ngSubmit)="onSubmit()">
      
      <label for="site">Sitio / App</label>
      <input
        type="text"
        id="site"
        name="site"
        formControlName="site"
        class="input__form"
        placeholder="Ingrese el sitio web o app"
        required
      />

      <label for="username">Usuario</label>
      <input
        type="text"
        id="username"
        name="username"
        formControlName="username"
        class="input__form"
        placeholder="Ingrese el nombre de usuario"
        required
      />

      <label for="site">Password</label>
      <input
        type="text"
        id="password"
        name="password"
        formControlName="password"
        class="input__form"
        placeholder="Ingrese el password"
        required
      />
      <label for="site">Notas</label>
      <input
        type="text"
        id="notes"
        name="notes"
        formControlName="notes"
        class="input__form"
        placeholder="Información adicional"
        required
      />

      <div class="buttons__container">
        <button routerLink="/home" type="button" class="btn__cancel">
          Cancelar
        </button>
        <button class="btn__save">Actualizar</button>
      </div>
    </form>
  </div>
</div>
