:host {
  display: block;
}

.general__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  padding-top: 20px;

}

@media screen and (min-width:380px) {
  .general__container {
    max-width: 380px;
    margin: 0 auto;
  }
}

.card {
  width: 90%;
  border: 1px solid var(--olive);
  border-radius: 5px;
  padding: 10px;
}

.radio__container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.radio__option {
  display: flex;
  gap: 5px;
}

.input__form {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--olive);
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.input__form:focus {
  outline: none;
  border: 2px solid var(--olive);
}

.page__name {
  height: 35px;
  text-align: center;
  
  border-bottom: 1px solid var(--olive);
  margin-bottom: 20px;

}

.buttons__container {
  display: flex;
  gap: 10px;
}

button {
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  border-radius: 5px;
}

.btn__cancel {
  background: var(--olive);
  border: 1px solid var(--olive);
}

.btn__cancel:hover {
  background: var(--green);
  border: 1px solid var(--green);
}

.btn__save {
  background: var(--blue);
  border: 1px solid var(--blue);
}


.btn__save:hover {
  background: var(--sky);
  border: 1px solid var(--sky);
}