<div class="general__container">
  <div class="user__card">
    <p>Este password es para...</p>
   
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="radio__container">
        <div class="radio__option">
          <input
            type="radio"
            name="owner"
            value="ana"
            id="ana"
            formControlName="owner"
          />

          <p class="owner">Ana</p>
          <img src="/assets/icons/ana.png" />
        </div>
        <div class="radio__option">
          <input
            type="radio"
            name="owner"
            value="sergio"
            id="sergio"
            formControlName="owner"
          />
          <p class="owner">Sergio</p>
          <img src="/assets/icons/sergio.png" />
        </div>
        <div class="radio__option">
          <input
            type="radio"
            name="owner"
            value="ambos"
            id="ambos"
            formControlName="owner"
          />
          <p class="owner">Ambos</p>
          <img src="assets/icons/ana.png" />
          <img class="sergio" src="/assets/icons/sergio.png" />
        </div>
      </div>
      <label for="site">Sitio / App</label>
      <input
        type="text"
        autocapitalize="none"
        id="site"
        name="site"
        formControlName="site"
        class="input__form"
        placeholder="Ingrese el sitio web o app"
        
      />

      <label for="username">Usuario</label>
      <input
        type="text"
        autocapitalize="none"
        id="username"
        name="username"
        formControlName="username"
        class="input__form"
        placeholder="Ingrese el nombre de usuario"
       
      />

      <label for="site">Password</label>
      <input
        type="text"
        autocapitalize="none"
        id="password"
        name="password"
        formControlName="password"
        class="input__form"
        placeholder="Ingrese el password"
        
      />
      <label for="site">Notas</label>
      <input
        type="text"
        id="notes"
        name="notes"
        formControlName="notes"
        class="input__form"
        placeholder="Información adicional"
        
      />

      <div class="buttons__container">
        <button (click)="delete()" type="button" class="btn__cancel">
          Eliminar
        </button>
        <button class="btn__save">Actualizar</button>
      </div>
    </form>
  </div>
</div>
