:host {
  display: block;
}

.general__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 10px;
}

@media screen and (min-width: 380px) {
  .general__container {
    max-width: 380px;
    margin: 0 auto;
  }
}

img {
  height: 25px;
}

.user__card {
  width: 100%;
  border: 1px solid var(--gray);
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}



.radio__container {
  display: flex;
  gap:5px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.owner{
  margin-left: 5px;
}
.radio__option {
  flex: 1;
  display: flex;
  align-items: center;
  border: 1px solid var(--gray);
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}
.sergio {
  margin-left: -9px;
}

input[type="radio"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid var(--gray);
  border-radius: 50%;
  background-clip: content-box;
  padding: 1px;
}

input[type="radio"]:checked {
  background-color: var(--green);
}

.input__form {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.input__form:focus {
  outline: none;
  border: 2px solid var(--green);
}

.page__name {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--green);
  margin-bottom: 10px;
}

.buttons__container {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

button {
  width: 50%;
  padding: 10px 0px;
  color: white;
  border-radius: 5px;
  background: var(--green);
  border: 1px solid var(--gray);
}

button:hover {
  background: var(--light-gray);
  border: none;
  color: var(--green);
}

::placeholder {
  color: gray;
}
