:host {
  display: block;
}

.general__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  padding-top: 20px;

}

@media screen and (min-width:380px) {
  .general__container {
    max-width: 380px;
    margin: 0 auto;
  }
}

.radio__container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.radio__option {
  display: flex;
  gap: 2px;
  align-items: center;
}

img {
  width: 30px;
  border-radius: 50%;
}

.err__msg {
  text-align: center;
  margin-bottom: 10px;

  color: white;
  background-color: red;
  width: 100%;
  border-radius: 5px;
  padding: 10px;

}

input[type="radio"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid var(--gray);
  border-radius: 50%;
  background-clip: content-box;
  padding: 1px;
}

input[type="radio"]:checked {
  background-color: var(--green);

}

.card {
  width: 90%;
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}

.radio__container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.radio__option {
  display: flex;
  gap: 5px;
}

.input__form {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.input__form:focus {
  outline: none;
  border: 2px solid var(--green);
}



.buttons__container {
  display: flex;
  gap: 10px;
}

button {
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  border-radius: 5px;
}

.btn__cancel {
  background-color: var(--green);
  border: none;
}

.btn__cancel:hover {
  background-color: red;
  border: none;
  cursor: pointer;
}

.btn__save {
  background-color: var(--green);
  border: none;
}


.btn__save:hover {
  background-color: var(--light-green);
  border: none;
  cursor: pointer;
}