:host {
  display: block;
}

.general__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 20px;
}

@media screen and (min-width:380px) {
  .general__container {
    max-width: 380px;
    margin: 0 auto;
  }
}

img {
  width: 30px;
  border-radius: 50%;
}



.user__card {
  width: 90%;
  border: 1px solid #16a085;
  border-radius: 5px;
  padding: 0px 10px 10px 10px;
}

.user__selection__msg {
  text-align: center;
  margin-bottom: 10px;
  


  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

.err__msg {
  text-align: center;
  margin-bottom: 10px;
  
  color: white;
  background-color: var(--blood);
  width: 100%;
  border-radius: 5px;
  padding: 10px;

}

.radio__container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.radio__option {
  display: flex;
  gap: 2px;
  align-items: center;
}

 

input[type="radio"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid var(--stone);
  border-radius: 50%;
  background-clip: content-box;
  padding: 1px;
}

input[type="radio"]:checked {
  background-color: var(--olive);

}

.input__form {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--olive);
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 5px;
  
}

.input__form:focus {

  outline: none;
  border: 2px solid var(--olive);
  
}

.page__name{
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--olive);
  margin-bottom: 10px;
}

.buttons__container {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

button {
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  border-radius: 5px;
}

.btn__cancel {
  background: var(--blue);
  border: 1px solid var(--blue);
}
.btn__cancel:hover {
  background: var(--sky);
  border: 1px solid var(--sky);
}

.btn__save {
  background: var(--olive);
  border: 1px solid var(--olive);
}
.btn__save:hover {
  background: var(--green);
  border: 1px solid var(--green);
}

.btn__back {

  padding-top: 50px;
  text-align: right;

}

a {
  text-decoration: none;
  cursor: pointer;color: var(--olive);

}
::placeholder{
  color:var(--stone)
}