<div class="general__container">
  <div class="user__card">
    <form [formGroup]="newForm" (ngSubmit)="onSubmit()">
      <h4>Nuevo usuario</h4>

      @if (newForm.get('owner')?.hasError('required') &&
      newForm.get('owner')?.untouched) {
      <p class="user__selection__msg">Selecione el propietario</p>
      } @if (newForm.get('site')?.hasError('required') &&
      newForm.get('site')?.touched) {
      <p class="err__msg">Introduzca un sitio o app</p>
      } @if (newForm.get('username')?.hasError('required') &&
      newForm.get('username')?.touched) {
      <p class="err__msg">Introduzca un usuario válido</p>
      } @if (newForm.get('password')?.hasError('required') &&
      newForm.get('password')?.touched) {
      <p class="err__msg">Introduzca un password válido</p>
      }
      <div class="radio__container">
        <div class="radio__option">
          <input
            type="radio"
            name="owner"
            value="ana"
            id="ana"
            formControlName="owner"
          />
          <p>Ana</p>
        </div>
        <div class="radio__option">
          <input
            type="radio"
            name="owner"
            value="sergio"
            id="sergio"
            formControlName="owner"
          />
          Sergio
        </div>
        <div class="radio__option">
          <input
            type="radio"
            name="owner"
            value="ambos"
            id="ambos"
            formControlName="owner"
          />
          Ambos
        </div>
      </div>

      <label for="site">Sitio / App</label>
      <input
        type="text"
        id="site"
        name="site"
        formControlName="site"
        class="input__form"
        placeholder="Ingrese el sitio web o app"
        
      />

      <label for="username">Usuario</label>
      <input
        type="text"
        id="username"
        name="username"
        formControlName="username"
        class="input__form"
        placeholder="Ingrese el nombre de usuario"
        
      />

      <label for="site">Password</label>
      <input
        type="text"
        id="password"
        name="password"
        formControlName="password"
        class="input__form"
        placeholder="Ingrese el password"
        
      />

      <label for="notes">Notas</label>
      <input
        type="text"
        id="notes"
        name="notes"
        formControlName="notes"
        class="input__form"
        placeholder="Información adicional"
        
      />

      <div class="buttons__container">
        <button type="button" (click)="clearForm()" class="btn__cancel">
          Limpiar
        </button>
        <button type="submit" [disabled]="!newForm.valid" class="btn__save">Guardar</button>
      </div>
    </form>
  </div>
  <div class="btn__back">
    <a routerLink="/home">Volver</a>
  </div>
</div>
