<div class="general">
  <div class="header">
    <h3>Bienvenido a myPass2</h3>
    <img src="assets/myPassIcon.png" alt="MyPass" />

    <div class="quote__container">
      <p class="quote">"Vale más tener un lapiz corto que una memoria larga."</p>
      <cite class="author">- Miguel de Unamuno</cite>
    </div>
  </div>
  <div class="wrapper">
    <div class="tittle"><span>Login</span></div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="row-form">
        <fa-icon [icon]="faUser"></fa-icon>
        <input
          type="email"
          id="email"
          name="email"
          formControlName="email"
          placeholder="Ingrese su email"
          required
        />
      </div>
      <div class="row-form">
        <fa-icon [icon]="faLock"></fa-icon>
        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"
          placeholder="*******"
          required
        />
      </div>
      <div class="row-form row-button">
        <input type="submit" value="Entrar" />
      </div>
    </form>
  </div>
</div>
