.general {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #ecf0f1;

}

.wrapper {
  border-radius: 5px;
  background: white;
  width: 90%;
  margin-left: 5px;
  margin-right: 5px;
}

.wrapper .tittle {
  text-align: center;
  line-height: 80px;
  background: #16a085;
  border-radius: 5px 5px 0 0;
  font-size: 25px;
  font-weight: 600;
  color: white;
}

.wrapper form {
  padding: 20px
}

.wrapper form .row-form {
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}

.wrapper form .row-form input {
  height: 100%;
  width: 100%;
  padding-left: 60px;
  outline: none;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
}

.wrapper form .row-form fa-icon {
  position: absolute;
  width: 45px;
  height: 100%;
  background: #16a085;
  border: 1px solid #16a085;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  border-radius: 5px 0 0 5px;
}

.wrapper form .row-button input {
  padding-left: 0px;
  cursor: pointer;
  border: 1px solid #16a085;
  background: #16a085;
  color: white;
  font-weight: 500;
  font-size: 18px;
  
}

.wrapper form .row-button input:hover {

  background: #1abc9c;
}