:host {
  display: block;
}


ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

li {
  margin-left: 10px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color:var(--olive)
}

a:hover {
  text-decoration: underline;
}