:host {
  display: block;
}

.general__container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (min-width:480px) {
  .general__container {
    max-width: 480px;
    margin: 0 auto;
  }
}

.user__card {
  width: 90%;
  background: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}

.user__card__header {
  height: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.user__card__data {
  margin-bottom: 20px;
}

h4 {
  text-align: center;
  font-size: 16px;

}

.user__card__buttons {

  display: flex;
  gap: 10px;
  margin-bottom: 5px;



}

button {
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  border-radius: 5px;
}

.btn__delete {
  background: #e74c3c;
  border: 1px solid #e74c3c;
}

.btn__edit {
  background: #2980b9;
  border: 1px solid #2980b9;
}

dt {
  font-size: 10px;
  font-weight: normal;
  color: #34495e;
}

.username, .password{
  color: #27ae60;
  font-weight: bold;
}