<div class="general__container">
  @for (item of data | async ;track $index ) {

  <div class="card">
    <div class="card__header">
      <p class="site">{{ item.site }}</p>
    </div>
    <div class="card__body">
      <div class="card__img">
        <img src="../../../assets/{{ item.owner }}.jpg" />
      </div>
      <div class="card__data">
        <dl>
          <dt>Nombre de usuario</dt>
          <dd class="username">{{ item.username }}</dd>

          <dt>Password</dt>
          <dd class="password">{{ item.password }}</dd>
          @if (item.notes!=='') {
          <dt>Notas</dt>
          <dd class="notes">{{ item.notes }}</dd>
          }
        </dl>
      </div>
    </div>
    <div class="card__buttons">
      <button (click)="delete(item.id)" type="button" class="btn__delete">
        Eliminar</button
      ><button
        routerLink="/edit"
        [queryParams]="{
          id: item.id,
          owner: item.owner,
          site: item.site,
          username: item.username,
          password: item.password,
          notes: item.notes
        }"
        type="button"
        class="btn__edit"
      >
        Editar
      </button>
    </div>
  </div>

  }
</div>
