<div class="container">
  <div class="search-container">
    <input
      class="search-input"
      type="text"
      autocapitalize="none"
      [(ngModel)]="searchTerm"
      (input)="onSearch()"
      placeholder=""
    />
    <img class="lupa" src="/assets/icons/lupa.png" alt="" />
  </div>
  @if (data$|async) { @for (item of filteredData ;track $index ) {

  <div
    class="card"
    routerLink="/edit"
    [queryParams]="{
      id: item.id,
      owner: item.owner,
      site: item.site,
      username: item.username,
      password: item.password,
      notes: item.notes,
      logo: item.logo
    }"
  >
    <p class="site">{{item.site}}</p>

    <div class="owner">
      <div class="avatar">
        @if (item.owner =='ambos') {

        <img src="/assets/icons/ana.png" alt="" />
        <img class="sergio" src="/assets/icons/sergio.png" alt="" />
        }@else {
        <img src="/assets/icons/{{ item.owner }}.png" alt="" />}
      </div>
      <p class="owner-txt">
        {{ item.owner | uppercase }}
      </p>
    </div>
  </div>
  }}
</div>
