<div class="container mt-5">
  <div class="row justify-content-center mb-3">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">endesa.com</h4>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <dl>
              <dt>Usuario</dt>
              <dd>{{ "sergiotto@outlook.com" }}</dd>

              <dt>Password</dt>
              <dd>{{ "123456" }}</dd>
            </dl>
          </div>
          <div class="d-grid gap-2">
            <button
              routerLink="/edit"
              [queryParams]="{
                site: 'endesa',
                username: 'sergiotto@outlook.com',
                password: '1234567'
              }"
              type="button"
              class="btn btn-primary"
            >
              Editar
            </button>
            <button type="button" class="btn btn-primary">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
