@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap");
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-size: 10px;
}

body {
  background-color: var(--light-gray);
}

:root {
  --green: #2f5f43;
  --light-green: #2b7369;
  --gray: #EDEFEF;
  --light-gray: #F8F9FB;

}